<c4-category-list-presentation *ngIf="categories$ | async as categories" [categories]="categories"
                               [searchTerm]="categorySearch$ | async"></c4-category-list-presentation>
<c4-global-loading-spinner *ngIf="categoriesLoading$ | async"></c4-global-loading-spinner>
