<c4-department-form-presentation [department]="department" [categories]="categories$ | async" (save)="save($event)"
                                 (dirtied)="isDirty = true">Ressort anlegen</c4-department-form-presentation>
<c4-global-loading-spinner *ngIf="isSubmitting$ | async"></c4-global-loading-spinner>
