<div [ngClass]="'p-editor-container'" [class]="styleClass">
  <div class="p-editor-toolbar" *ngIf="toolbar || toolbarTemplate">
    <ng-content select="p-header"></ng-content>
  </div>
  <div class="p-editor-toolbar" *ngIf="!toolbar && !toolbarTemplate">
    <span class="ql-formats">
      <select class="ql-header">
        <option value="1">Heading</option>
        <option value="2">Subheading</option>
        <option value="3">Subheading</option>
        <option value="4">Subheading</option>
        <option selected>Normal</option>
      </select>
    </span>
    <span class="ql-formats">
      <button class="ql-bold" aria-label="Bold" type="button"></button>
      <button class="ql-italic" aria-label="Italic" type="button"></button>
      <button class="ql-underline" aria-label="Underline" type="button"></button>
    </span>
    <span class="ql-formats">
      <button type="button" value="" class="ql-align"></button>
      <button type="button" value="center" class="ql-align"></button>
      <button type="button" value="right" class="ql-align"></button>
      <button type="button" value="justify" class="ql-align"></button>
    </span>
    <span class="ql-formats">
      <select class="ql-color"></select>
      <select class="ql-background"></select>
    </span>
    <span class="ql-formats">
      <button class="ql-list" value="ordered" aria-label="Ordered List" type="button"></button>
      <button class="ql-list" value="bullet" aria-label="Unordered List" type="button"></button>
    </span>
    <span class="ql-formats">
      <button class="ql-link" aria-label="Insert Link" type="button"></button>
      <button class="ql-code-block" aria-label="Insert Code Block" type="button"></button>
      <button class="ql-blockquote" type="button"></button>
    </span>
  </div>
  <div class="p-editor-content" [ngStyle]="style"></div>
</div>
