<form [formGroup]="loginForm">
  <div class="p-fluid">
    <div class="p-field">
        <label for="username">Username</label>
        <input pInputText class="p-float-label" type="text" formControlName="username" id="username">
    </div>
    <div class="p-field">
        <label for="password">Password</label>
        <input pInputText class="p-float-label" type="password" formControlName="password" id="password">
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col">
      <button pButton (click)="tryLogin()" [disabled]="!loginForm.valid" label="Login"></button>
    </div>
    <div class="p-col p-text-right">
      <button pButton type="button" (click)="abort()" class="p-button-secondary" label="Abbrechen"></button>
    </div>
  </div>
</form>
<c4-global-loading-spinner *ngIf="isLoggingIn$ | async"></c4-global-loading-spinner>
