<div *ngIf="category$ | async as category">
  <c4-category-form-presentation [category]="category" (save)="save($event)" (dirtied)="setDirty()">
    Update Ressort-Kategorie
  </c4-category-form-presentation>
</div>
<c4-global-loading-spinner *ngIf="isSubmitting$ | async"></c4-global-loading-spinner>
