<p>Du hast nicht gespeicherte Änderungen.</p>
<p>Möchten du diese verwerfen?</p>
<div class="p-text-right">
  <div class="p-d-inline-block p-pr-2">
    <button pButton (click)="confirm()" label="OK" class="p-button-warning"></button>
  </div>
  <div class="p-d-inline-block">
    <button pButton type="button" (click)="abort()" label="Abbrechen" class="p-button-secondary"></button>
  </div>
</div>
