<div *ngIf="topNav$ | async as topNav" class="button-wrapper">
  <c4-button-bar-button [navButton]="topNav.button1"></c4-button-bar-button>
  <c4-button-bar-button [navButton]="topNav.button2"></c4-button-bar-button>
  <c4-button-bar-button [navButton]="topNav.button3"></c4-button-bar-button>
  <c4-button-bar-button [navButton]="topNav.button4"></c4-button-bar-button>
  <c4-button-bar-button [navButton]="topNav.button5"></c4-button-bar-button>
  <c4-button-bar-button [navButton]="topNav.button6"></c4-button-bar-button>
  <c4-button-bar-button [navButton]="topNav.button7"></c4-button-bar-button>
  <c4-button-bar-button [navButton]="topNav.button8"></c4-button-bar-button>
</div>
