<div class="p-grid p-m-0">
  <div class="p-col-12 p-sm-6 p-sm-offset-3 p-shadow-3 p-p-0 p-p-sm-2">
    <p-table #categoryTable [value]="categories" [globalFilterFields]="['name']" filterDelay="100">
      <ng-template pTemplate="body" let-category>
        <tr>
          <p-card header="{{category.name}}">
            <div class="p-d-flex p-flex-row-reverse p-jc-end">
              <p-button icon="fa fa-edit" styleClass="p-button-secondary p-button-text"
                        [routerLink]="['/departments', 'categories', category.id, 'edit']"></p-button>
            </div>
          </p-card>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
