<div *ngIf="department$ | async as department">
  <c4-department-detail-presentation [department]="department" (loadHistory)="loadAssignmentTerms()"
  [assignmentTermsLoading]="assignmentTermsLoading$ | async" [assignmentTerms]="assignmentTerms$ | async"></c4-department-detail-presentation>
</div>
