<h1>{{department.department.name}}</h1>
<h3>{{department.category?.name}}</h3>
<div class="p-grid">
  <div class="p-col-12 p-lg-6">
    <p-panel header="Beschreibung" toggleable="true" [collapsed]="initiallyCollapsed">
      {{department.department.description}}
    </p-panel>
    <div class="p-mt-3">
      <p-panel header="Leitung: {{department.username | defaultIfEmpty}}" toggleable="true" [collapsed]="initiallyCollapsed">
        <h3 *ngIf="!department.username; else isAssignedBlock">Vakant</h3>
        <ng-template #isAssignedBlock>
          <h4>Periode</h4>
          <p style="margin-top: 0">Periode: {{department.assignmentTerm?.assignmentTerm.start | customDate}}
            - {{department.assignmentTerm?.assignmentTerm.end | customDate}}</p>
          <h4>Beschreibung</h4>
          <p>{{department.assignmentTerm?.assignmentTerm.description | defaultIfEmpty}}</p>
        </ng-template>
      </p-panel>
    </div>
    <div class="p-mt-3">
      <p-panel id="historyPanel" header="Historie" toggleable="true" collapsed="true" (onBeforeToggle)="loadHistoryIfNotAvailable()">
        <c4-local-loading-spinner *ngIf="assignmentTermsLoading"></c4-local-loading-spinner>
        <p-accordion>
          <p-accordionTab
            header="{{assignmentTerm.username}} {{assignmentTerm.assignmentTerm.start | customDate}} - {{assignmentTerm.assignmentTerm.end | customDate}}"
            *ngFor="let assignmentTerm of assignmentTerms">
            {{assignmentTerm.assignmentTerm.description | defaultIfEmpty}}
          </p-accordionTab>
        </p-accordion>
      </p-panel>
    </div>
  </div>
</div>
