<h1><ng-content></ng-content></h1>

<form *ngIf="departmentForm" [formGroup]="departmentForm">
  <div class="p-fluid">
    <div class="p-field">
      <label for="name">Name</label>
      <input pInputText type="text" id="name" formControlName="name" [c4CharsRemaining]="nameCharsRemaining$ | async"
             placeholder="Name wählen..."
             [c4ValidationErrors]="{required: 'Name muss angegeben werden', elementPresent: 'Name ist bereits vorhanden'}">
    </div>
    <div class="p-field">
      <label for="category">Kategorie</label>
      <p-dropdown id="category" [options]="formCategories" formControlName="departmentCategoryId"
                  placeholder="Kategorie wählen..."></p-dropdown>
    </div>
    <div class="p-field">
      <c4-editor formControlName="description" [style]="{height: '10rem'}" [c4CharsRemaining]="descriptionCharsRemaining$ | async"
                 placeholder="Beschreibung..."></c4-editor>
    </div>
  </div>
  <button pButton type="button" (click)="submit()" [disabled]="!departmentForm.valid || departmentForm.pristine" label="Speichern"
          icon="fa fa-save"
          iconPos="left"></button>
</form>
