<h1><ng-content></ng-content></h1>

<form [formGroup]="categoryForm">
  <div class="p-fluid">
    <div class="p-field">
      <label for="name">Name</label>
      <input pInputText type="text" id="name" formControlName="name" placeholder="Name wählen..."
             [c4ValidationErrors]="{required: 'Name muss angegeben werden', elementPresent: 'Name ist bereits vorhanden'}">
    </div>
  </div>
  <button pButton type="button" (click)="submit()" [disabled]="!categoryForm.valid || categoryForm.pristine" label="Speichern"
          icon="fa fa-save" iconPos="left"></button>
</form>
