<p-toolbar class="p-pb-3">
  <c4-bottom-nav-bar-button [navButton]="bottomNav.button1"></c4-bottom-nav-bar-button>
  <c4-bottom-nav-bar-button [navButton]="bottomNav.button2"></c4-bottom-nav-bar-button>
  <button pButton icon="fa fa-bars" class="p-button-rounded c4-flex-equal" (click)="openSideNav.emit()"></button>
  <c4-bottom-nav-bar-button [navButton]="bottomNav.button3"></c4-bottom-nav-bar-button>
  <c4-bottom-nav-bar-button [navButton]="bottomNav.button4"></c4-bottom-nav-bar-button>
</p-toolbar>
