<p-toolbar>
  <div class="p-toolbar-group-left">
    <c4-search *ngIf="showSearch$ | async"></c4-search>
  </div>
  <div class="p-toolbar-group-right">
    <i class="c4-icon c4-icon-5 p-mb-1 p-mt-1" routerLink=""></i>
  </div>
</p-toolbar>
