<ng-template [ngIf]="navButton">
  <p-button *ngIf="isExecuteAction else routerLinkBlock" [icon]="navButton.iconClass" styleClass="{{navButton.buttonClass}}"
            c4TooltipMdMax="{{navButton.label}}" label="{{(showLabel$ | async) ? navButton.label : ''}}"
            (click)="navButton.execute()"></p-button>
  <ng-template #routerLinkBlock>
    <p-button [icon]="navButton.iconClass" [routerLink]="navButton.routerLink"
              c4TooltipMdMax="{{navButton.label}}" label="{{(showLabel$ | async) ? navButton.label : ''}}"
              [styleClass]="navButton.buttonClass"></p-button>
  </ng-template>
</ng-template>
