<c4-nav-bar *c4HideForMobile></c4-nav-bar>
<c4-side-bar></c4-side-bar>
<div class="c4-content">
  <c4-mobile-top-nav-bar *c4ShowForMobile></c4-mobile-top-nav-bar>
  <router-outlet></router-outlet>
</div>
<footer class="c4-footer" *c4ShowForMobile>
  <c4-bottom-nav-bar></c4-bottom-nav-bar>
</footer>
