<span class="p-input-icon-left" *ngIf="searchConfig$ | async as searchConfig">
  <i class="pi pi-search"></i>
  <input pInputText type="text" (input)="setSearch($event.target['value'])" placeholder="{{searchConfig.placeholder}}"
         [value]="(searchTerm$ | async) || ''"/>
</span>
