<p-toolbar>
  <div class="p-toolbar-group-left">
    <div style="width: 100px;display: flex">
      <p-button icon="fa fa-bars" (click)="toggleSide()"></p-button>

      <div *ngIf="!(isLoggedIn$ | async)">
        <p-button icon="fa fa-sign-in-alt" (click)="login()" class="p-ml-2"></p-button>
      </div>
    </div>
    <c4-button-bar></c4-button-bar>
  </div>
  <div class="p-toolbar-group-right">
    <c4-search class="p-mr-3"></c4-search>
    <i class="c4-icon c4-icon-6" routerLink=""></i>
  </div>
</p-toolbar>
