/* You can add global styles to this file, and also import other style files */
@import "colors";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.error {
  color: $c4-red;
}

.c4-icon {
  background-image: url("./assets/img/C4.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 1rem;
  height: 1rem;

  &.c4-icon-4 {
    width: 1.5rem;
    height: 1.5rem;
  }

  &.c4-icon-5 {
    width: 2rem;
    height: 2rem;
  }

  &.c4-icon-6 {
    width: 3rem;
    height: 3rem;
  }
}
