<c4-category-form-presentation [category]="category"
                               (dirtied)="isDirty = true" (save)="save($event)">
  Ressort-Kategorie erstellen
</c4-category-form-presentation>
<c4-global-loading-spinner *ngIf="isSubmitting$ | async"></c4-global-loading-spinner>
