<div *ngIf="navButton" style="display: flex; justify-content: center">
  <div *ngIf="isExecuteAction; else routerLinkBlock">
    <p-button [icon]="navButton.iconClass" (click)="navButton.execute()"
            styleClass="{{'p-button-rounded ' + navButton.buttonClass}}"></p-button>
  </div>
  <ng-template #routerLinkBlock>
    <p-button [icon]="navButton.iconClass" [routerLink]="navButton.routerLink"
            [styleClass]="'p-button-rounded ' + navButton.buttonClass"></p-button>
  </ng-template>
</div>
