<c4-department-list-presentation *ngIf="departmentList$ | async as departmentList"
                                 [departmentList]="departmentList"
                                 [searchTerm]="departmentSearch$ | async"></c4-department-list-presentation>
<c4-global-loading-spinner *ngIf="departmentListLoading$ | async"></c4-global-loading-spinner>
