<c4-department-form-presentation [department]="department$ | async" [categories]="categories$ | async" (save)="save($event)"
                                 (dirtied)="setDirty()">Update Ressort</c4-department-form-presentation>
<c4-global-loading-spinner *ngIf="isSubmitting$ | async"></c4-global-loading-spinner>
