@import "src/breakpoints";

.table-header {
  display: flex;
  justify-content: space-between;
}


:host ::ng-deep {
  .c4-datatable-responsive .p-datatable-tbody > tr > td .c4-inline-col-title {
    display: none;
  }
}

@media screen and (max-width: $bp-sm) {
  :host ::ng-deep {
    .c4-table-row-sm {
      display: none;
    }

    .p-card-content {
      padding: 0;
    }

    .p-datatable {
      &.c4-datatable-responsive {
        .p-datatable-thead > tr > th,
        .p-datatable-tfoot > tr > td {
          display: none !important;
        }

        .p-datatable-tbody > tr > td {
          text-align: left;
          display: block;
          width: 100%;
          float: left;
          clear: left;
          border: 0 none;
          padding: 0 0.5rem 0.5rem;

          .c4-inline-col-title {
            padding: .4rem;
            min-width: 40%;
            display: inline-block;
            margin: -.4em 1em -.4em -.4rem;
            font-weight: bold;
          }

          &:last-child {
            border-bottom: 1px solid var(--surface-d);
          }
        }
      }
    }
  }
}
