<p-table #departmentTable [value]="departmentList" [globalFilterFields]="['department.name', 'category.name', 'username']"
         [filterDelay]="100" styleClass="c4-datatable-responsive">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="department.name">Name
        <p-sortIcon field="department.name"></p-sortIcon>
      </th>
      <th>Beschreibung</th>
      <th pSortableColumn="category.name">Kategorie
        <p-sortIcon field="category.name"></p-sortIcon>
      </th>
      <th>Ressortleiter(in)</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-department>
    <tr class="c4-table-row-sm" [routerLink]="['..', department.department.id]">
      <td>{{department.department.name}}</td>
      <td>{{department.department.description}}</td>
      <td>{{department.category?.name}}</td>
      <td>{{department.username | defaultIfEmpty}}</td>
    </tr>
    <tr class="p-d-sm-none" [routerLink]="['..', department.department.id]">
      <p-card header="{{department.department?.name}}" subheader="{{department.username | defaultIfEmpty}}"></p-card>
    </tr>
  </ng-template>
</p-table>
