<p-sidebar [visible]="(sideNavOpened$ | async)" (onHide)="onClose()" [style]="{width:'14rem'}" [showCloseIcon]="false">
  <p-slideMenu *ngIf="(sideNavOpened$ | async)" [model]="menuItems" backLabel="Zurück" [viewportHeight]="height$ | async"></p-slideMenu>
</p-sidebar>
